.list-container {
  margin-top: 1.2rem;
  padding-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.beer-list {
  list-style: none;
  padding: 0;
}

.list-button {
  min-width: calc(320px - .6rem);
  font-family: Veneer;
  height: 44px;
  background: var(--highlight);
  border: none;
  border-radius: 5px;
  color: var(--offblack);
  font-size: 1.5rem;
}
.list-button:hover {
  box-shadow: inset 0px 0px 10px rgb(0, 102, 131);
}
.list-button:active {
  background: rgb(0, 138, 177);
}