@font-face {
  font-family: "Veneer";
  src: url("./fonts/Veneer.woff2");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Veneer';
  background: rgb(44, 44, 44);
  font-weight: 100;
}

:root {
  --offwhite: rgb(245, 245, 245);
  --offblack: rgb(20, 20, 20);
  --highlight: #00e1ff;
}

h1, h2, h3 {
  text-align: left;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}